# SQL LANGUAGE --- sequel / SQL

- Standard query language for relational database management system  and data manipulation
- Write query against database , Retrive data from big data , insert records , Update and modify data.
- Non-procedural language.
- Used for communicate with database.
- RDBMS examples MySQL , PostgreSQL , SQL Server , Oracle , Microsoft Access etc

## Steps to database

- Open cmd
- mysql -u root -p
- show databases;
- CREATE database deewandb;
- for use --- USE deewandb;